#tituloPagina{
    color: red;
}
.subtitulos{
    color: purple;
}
.descricoes{
    color: blue;
}
img{
    width: 500px;
}
.borda{
    border: 10px green solid ;
}
#imagemMaior{
    width: 1000px;
    float: left;
}

#imagemDireita{
    float: right;
}

#imagem
.textoVermelho{
    color: red;
}

body{
    background-color: rgb(169, 224, 254);
    text-align: center;
}